{% load static %}

<!DOCTYPE html><html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Detalhes do Artigo</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Geologica:wght@300;400;500;600;700&display=swap">
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.14.2/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
  <script src="https://code.jquery.com/ui/1.14.2/jquery-ui.js"></script>
  <link rel="stylesheet" href="{% static 'css/cliente_detalhes.css' %}">
</head>
<body>
<script>
    const idArtigo = "{{ artigo.id_artigo|default:'' }}";
</script>
<a href="/" class="btn-voltar-fixo">
    <i class="fa fa-home"></i> Voltar
</a>
<div id="tabs">
  <ul>
    <li><a href="#tabs-1">Artigo</a></li>
  </ul>
    <div id="tabs-1">
    <table class="object_view">
        <tbody>
            <tr>
                <td class="col_field">
                    Nome
                </td>
                <td class="col_data col_data_double">
                    <input type="text" name="nome" class="edit-input" value="{{ artigo.nome|default:'' }}" maxlength="35" required>
                        {{ artigo.nome|default:'' }}
                </td>
                <td class="col_field">Taxa</td>
                <td class="col_data col_data_double">
                    <input type="text" name="taxa" class="edit-input" value="{{ artigo.taxa|default:'' }}" maxlength="5" min="0" max="99" required>
                    {{ artigo.taxa|default:'' }}
                </td>
            </tr>

            <tr>
                <td class="col_field">Descrição</td>
                <td class="col_data col_data_double">
                    <input type="text" name="descricao" class="edit-input" value="{{ artigo.descricao|default:'' }}" maxlength="200">
                    {{ artigo.descricao|default:'' }}
                </td>
            </tr>

            <tr>
                <td class="col_field">Tipo</td>
                <td class="col_data">
                    <select name="tipo" class="edit-select" required>
                        <option value="">Selecionar</option>
                        <option value="P" {% if artigo and artigo.tipo == "P" %}selected{% endif %}>Produto</option>
                        <option value="S" {% if artigo and artigo.tipo == "S" %}selected{% endif %}>Serviço</option>
                    </select>
                </td>
                <td class="col_field">Preço</td>
                <td class="col_data col_data_double">
                    <input type="text" name="preco" class="edit-input" value="{{ artigo.preco|default:'' }}" maxlength="10" min="0" required>
                    {{ artigo.preco|default:'' }}
                </td>
            </tr>
        </tbody>
    </table>
    <div class="table-actions">
        <button type="button" id="btn-guardar-cliente" class="btn-save">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="margin-right: 8px;"><path d="M19 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11l5 5v11a2 2 0 0 1-2 2z"></path><polyline points="17 21 17 13 7 13 7 21"></polyline><polyline points="7 3 7 8 15 8"></polyline></svg>
            Guardar Alterações
        </button>
    </div>
  </div>
</div>

</body>
<script src="{% static 'js/criar_editar_artigo.js' %}"></script>
</html>