{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>{% trans "Login Cancelado" %}</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    <div class="grid-container" id="grid"></div>
    <div class="main-content">
        <div class="login-container" style="max-width: 450px; text-align: center; margin-top: 50px;">
            <h1>{% trans "Login Cancelado" %}</h1>

            <p>{% blocktrans %}Você decidiu cancelar o login com a sua conta externa.{% endblocktrans %}</p>

            <p>
                {% trans "Se foi um erro, por favor, tente novamente:" %}
                <br><br>
                <a href="{% url 'account_login' %}" class="btn-login" style="text-decoration: none; display: inline-block; padding: 10px 20px;">
                    {% trans "Tentar Login Novamente" %}
                </a>
            </p>
        </div>
    </div>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>